@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  /* background-color: #F8F8F8; */
  /* padding : 6px; */
}
html {
  font-size: 16px; /* This is default, or you can change it for better control */
}
.App{
  padding:15px;
}